## 1.SQL

#  Revising the Select Query I
* Query all columns for all American cities in CITY with populations larger than 100000. The CountryCode for America is USA.

In [ ]:
SELECT * 
FROM CITY
WHERE CountryCode='USA' AND Population>100000;

# Revising the Select Query II
* Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

In [ ]:
select Name 
from City 
where CountryCode='USA' and Population>120000;

# Select All
* Query all columns (attributes) for every row in the CITY table

In [ ]:
SELECT *
FROM CITY

# Select By ID
*Query all columns for a city in CITY with the ID 1661.

In [ ]:
select * from city where id=1661;

# Japanese Cities' Attributes
* Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

In [ ]:
select *
from city
where countrycode LIKE '%JPN%';

# Japanese Cities' Names
* Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN

In [ ]:
select name
from city
where COUNTRYCODE LIKE '%JPN%';

# Weather Observation Station 1
* Query a list of CITY and STATE from the STATION table.

In [ ]:
select city, state from station

# Weather Observation Station 3
* Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

In [ ]:
SELECT DISTINCT City
FROM Station
WHERE mod(id,2)= 0
ORDER BY City;

# Weather Observation Station 4
* Let  be the number of CITY entries in STATION, and let  be the number of distinct CITY names in STATION; query the value of  from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

In [ ]:
select  (count(CITY)- count(distinct CITY)) from STATION;

# Higher Than 75 Marks
* Query the Name of any student in STUDENTS who scored higher than  Marks. Order your output by the last three characters of each name. If two or more students both have names ending in the same last three characters (i.e.: Bobby, Robby, etc.), secondary sort them by ascending ID.

In [ ]:
SELECT name
FROM students
WHERE marks >75 
ORDER BY substring(name,-3,3), ID asc

# Employee Names
* Write a query that prints a list of employee names (i.e.: the name attribute) from the Employee table in alphabetical order.

In [ ]:
SELECT name
FROM employee
ORDER BY name asc

# 2. Python

# Python If-Else

*Task
*Given an integer, , perform the following conditional actions:

* If  is odd, print Weird
* If  is even and in the inclusive range of  to , print Not Weird
* If  is even and in the inclusive range of  to , print Weird
* If  is even and greater than , print Not Weird

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys

answer=''

if __name__ == '__main__':
    n = int(input().strip())
if n%2==1:
    answer="Weird"
else:
    if 2<=n<=5:
        answer="Not weird"
    elif 6<=n<=20:
        answer="Weird"
    else:
        answer="Not Weird"
print(answer)

# Arithmetic Operators

* Read two integers from STDIN and print three lines where:

* The first line contains the sum of the two numbers.
* The second line contains the difference of the two numbers (first - second).
* The third line contains the product of the two numbers.

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

print(a+b)
print(a-b)
print(a*b)

# Find the Runner-Up Score!
* Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

In [ ]:
if __name__ == '__main__':
    n = int(raw_input())
    arr = map(int, raw_input().split())
    # sort the 
    arr=list(set(arr))
    arr.sort(reverse=True)
    print arr[1]

# List Comprehensions

* Let's learn about list comprehensions! You are given three integers  and  representing the dimensions of a cuboid along with an integer . You have to print a list of all possible coordinates given by  on a 3D grid where the sum of  is not equal to . Here,

In [ ]:
if __name__ == '__main__':
    x = int(raw_input())
    y = int(raw_input())
    z = int(raw_input())
    n = int(raw_input())

lst = [[i,j,k] 
#in ra 1 list gom cac bo so i,j,k
for i in range(0, (x+1))
for j in range (0,(y+1))
for k in range(0, (z+1)) 
if (i+j+k)!=n]

print(lst)

# Loops

* Read an integer . For all non-negative integers , print . See the sample for details.

In [ ]:
if __name__ == '__main__':
    n = int(input())
 
i = 0
while (i < n):
    print(i*i)
    i = i + 1

# Print Function
* Read an integer .
* Without using any string methods, try to print the following:
* Note that "" represents the values in between.

In [ ]:
if __name__ == '__main__':
    n = int(input())
counter = 1
answer=''
while (counter <= n):
    answer=answer+ str(counter) 
    counter = counter + 1
print(answer)